extends layout

block content

  h1.title Author: #{author.name}
  p #{author.lifespan}
  hr
  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
      each book in authors_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary} 
      
      else
        p This author has no books.
        
  hr
  div(style='display:grid;grid-auto-flow:column;justify-content:start;gap:.5em;')
    p
      a(href=author.url+'/delete') 
        button.btn.btn-primary Delete author   
    p
      a(href=author.url+'/update')
        button.btn.btn-primary Update author   