extends layout

block content
  h1.title= title
  ul.list-group
    each author in author_list
      li.list-group-item
        a(href=author.url) 
          span.author__list #{author.name} 
        //- |  (#{author.date_of_birth} - #{author.date_of_death})
        span.author__lifespan (#{author.lifespan})

    else
      li There are no authors.