extends layout

block content

  h1.title Genre: #{genre.name}
  hr
  div(sytle='margin-left:20px;margin-top:20px')

    h4 Books

    dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}
      
      else
        p This genre has no books
  
  hr
  div(style='display:grid;grid-auto-flow:column;justify-content:start;gap:.5em;')
    span
      a(href=genre.url+'/delete')
        button.btn.btn-primary Delete Genre
    span
      a(href=genre.url+'/update')
        button.btn.btn-primary Update Genre
